.Loading {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  font-size: 28px;
  width: 100%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.Loading span {
  animation: loading 1.4s infinite ease-in-out;
}

.Loading span:nth-child(1) {
  animation-delay: 0s;
}

.Loading span:nth-child(2) {
  animation-delay: 0.2s;
}

.Loading span:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes loading {
  0% {
    opacity: 0.3;
    transform: translateY(0);
  }
  40% {
    opacity: 1;
    transform: translateY(-12px);
  }
  80% {
    opacity: 0.3;
    transform: translateY(0);
  }
}